:root {
   --primary-color: #4D007E;
   --secondary-color: #c72727;
   --light-color: #f3f3f3;
   --dark-color: #333;
   --max-width: 1100px;
}
.category {
   --root-canal: #f99500;
   --fillings: #a77cce;
   --surgery: #110dee;
}

*{
 margin: 0;
 padding: 0; 
 box-sizing: border-box; 
}

html, body {
   font-family: 'Lato', sans-serif;
   line-height: 1.5;
   background: var(--light-color);
 
}

ul {
   list-style: none;
}

img {
   width: 100%;
   top: 0;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Arial', cursive;
   margin-bottom: .55rem;
   line-height: 1.3rem;
}

/* Utility */

a {
   text-decoration: none;
}

/* p {
   margin: .75rem 0;
} */
.container {
   max-width: var(--max-width);
   margin: auto;
   padding: 0 2rem;
   overflow: hidden;
}

.category {
   display: inline-block;
   color: #FFF;
   font-size: .75rem;
   text-transform: uppercase;
   padding: 0.4rem 0.4rem;
   border-radius: 10px;
   margin-bottom: 1.5rem;
}

.category-one {background: var(--primary-color); }
.category-two {background: var(--secondary-color); }
.category-three {background: #a77cce; }
.category-four {background: var(--dark-color); }
.category-four {background: #f99500; }


.btn {
   display: inline-block;
   border: none;
   background: var(--dark-color);
   color: #FFF;
   padding: 0.5rem 1.5rem;
   border-radius: 5px;
}

.btn-block {
   display: block;
   width: 100%;
   padding: 0.4rem 0.5rem;
   text-align: center;

}

.btn:hover {
   opacity: 0.9;
}

.card {
   background: #fff;
   padding: 1rem;
}

.bg-primary {
   background: var(--primary-color);
   color: #fff;
}

.bg-secondary {
   background: var(--secondary-color);
   color: #fff;
}

.bg-dark {
   background: var(--dark-color);
   color: #fff;
}

.btn-primary {
   color: #fff;
   background: var(--primary-color)
}

.btn-secondary {
   color: #fff;
   background: var(--secondary-color)
}

.btn-dark {
   color: #fff;
   background: var(--dark-color)
}

.btn-light {
   color: #333;
   background: var(--light-color)
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3.5rem 0; }
.p-1 { padding: 1rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }
.px-1 { padding-top: 1rem; }
.px-2 { padding-top: 2rem; }
.px-3 { padding-top: 3rem; }
.l-heading {
   margin: .55rem 0;
   font-size: 1.6rem;
}



.category-dental {
   background: var(--secondary-color);
}

.list li {
   padding: .5rem;
   border-bottom: 1px dotted #555;
}

.list li a:hover {
   color: var(--light-color) !important;
}

.page-container {
   display: grid;
   grid-template-columns: 4fr 3fr;
   margin: 2rem 0;
   grid-gap: 1rem;
}

.page-container > *:first-child {
   grid-row: 1 / span 3;
}
/* Navigation */
#main-nav {
   background: #fff;
   position: sticky;
   top: 0;
   z-index: 2;
}

#main-nav .container {
   display: grid;
   grid-template-columns: 6fr 3fr 3fr;
   padding: 1rem;
}

#main-nav .logo {
   width: 180px;
}

#main-nav ul {
   justify-self: end;
   display: flex;
   margin-top: 3rem;
}

#main-nav ul li a {
   padding: .75rem 3rem;
   font-weight: bold;
   text-decoration: none;
   border-radius: 5px;
}

#main-nav ul li a.current {
   background: var(--secondary-color);
   color: var(--light-color);
}

#main-nav ul li a:hover {
   background: var(--secondary-color);
   color: var(--light-color);
}

#main-nav .social {
   justify-self: center;
   margin: 3rem 0;
}

#main-nav .social i {
   color: #777;
   margin-right: .5rem;
}

/* Showcase */
#showcase {
   color: #fff;
   background: #333;
   padding: 2rem;
   position: relative;
}

#showcase:before {
   content: '';
   background: url('../img/Archive/Fotolia_123127657_Subscription_Monthly_XXL.jpg') no-repeat center center/cover;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0.4;
}

#showcase .showcase-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   height: 50vh;
}

#showcase .showcase-content {
   z-index: 1;
}

#showcase .showcase-content p {
   margin-bottom: 1rem;
}

#home-articles .articles-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 1rem;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child  {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1rem;
   align-items: center;
   grid-column: 1/ span 2;
}

#home-articles .articles-container > *:last-child {
   grid-column: 2 / span 2;
}

#main-footer {
   background: var(--secondary-color);
   color: #fff;
}

#main-footer img {
   width: 50px;
}

#main-footer a {
   color: #fff;
}

#main-footer .footer-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
   background: var(--primary-color);
   grid-column: 1 / span 4;
   text-align: center;
   border-top-right-radius: 8px;
   border-top-left-radius: 8px;
   padding: .2rem 0;
   font-size: 0.75rem;
}

#main-footer .footer-container input[type='name'],
#main-footer .footer-container input[type='number'] {
   width:90%;
   padding: 0.5rem;
   margin-bottom: .5rem;
}

#main-footer .footer-container input[type='submit'] {
   width:90%;
}

#article .meta {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#article .meta .category {
   margin-top: 1rem;
}